[submodule "evm-testvectors/tests"]
	update = none
	path = testool/tests
	url = https://github.com/ethereum/tests

[submodule "integration-tests/contracts/vendor/openzeppelin-contracts"]
	update = none
	path = integration-tests/contracts/vendor/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "integration-tests/contracts/vendor/--force"]
	path = integration-tests/contracts/vendor/--force
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
